DB_HOST=localhost
DB_PORT=5432
DB_NAME=whatsyouretf
DB_USER=wye
DB_PASSWORD=change-me-local-postgres-password
# DATABASE_URL=postgresql+psycopg://wye:change-me-local-postgres-password@localhost:5432/whatsyouretf
LOCAL_DATABASE_URL=postgresql://wye:change-me-local-postgres-password@localhost:5432/whatsyouretf

NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=

GMS_API_URL=
GMS_API_KEY=
ANTHROPIC_API_KEY=
OPENAI_API_KEY=

KRX_ID=
KRX_PW=
DATA_PORTAL_COMPANY_SERVICE_KEY=

KIS_APP_KEY=
KIS_APP_SECRET=

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=change-me-local-rabbitmq-password

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
